.main-chat
  .main-chat__group-info
    .main-chat__group-info__left-content
      .main-chat__group-info__left-content__name
        group_name
      .main-chat__group-info__left-content__member-list
        member:
    = link_to "#", class: "main-chat__group-info__right-content" do
      Edit
  .main-chat__message-list
  .main-chat__message-form

  