.main-chat
  .group-info
    .group-info__left-content
      .group-info__left-content__name
        group_name
      .group-info__left-content__member-list
        member:
    = link_to "#", class: "group-info__right-content" do
      Edit
  .main-chat__message-list
    .main-chat__message-list__message
      .main-chat__message-list__message__info
        .main-chat__message-list__message__info__name
          name
        .main-chat__message-list__message__info__time
          yyyy/mm/dd(a) hh:mm:ss
      .main-chat__message-list__message__text
        hello 
  .message-form
  