.message{data: {message: {id: message.id}}}
  .message__info
    .message__info__name
      = message.user.nickname
    .message__info__time
      = message.created_at.to_s
  .message__text
    - if message.text.present?
      = message.text
  .message__image
    = image_tag message.image